.inner-container {
    background: gray;
    height: 100%;
    flex-flow: column;
  }

  @media only screen and (max-width: 650px) {
    .outer .nes-container {
        height: 100%;
        margin: 0 auto;
      } 
    
    .inner-container {
        background: gray;
        height: 100%;
        flex-flow: column;
      }
  }
