.pagination {
    display: flex;
    justify-content: flex-end;
  }

  .paginated-container {
    background: gray;
  }
  
.paginated-container .nes-container {
  height: 100%;
}

.outer .nes-container {
  height: 100%;
}

  .paginationItem {
    background: #fff;

    padding: 10px 15px;
  
    height: 35px;
    width: 35px;
    position: relative;
    margin: 0 5px;
  }
  
  .paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .prev,
  .next {
    background: #fff;
    border: none;
    padding: 5px 2px;
    color: blue;
    margin: 10px 2px;
  }

  .left-arrow {
    transform: rotate(270deg) 
  }

  .right-arrow {
    transform: rotate(90deg)
  }
  
  .paginationItem.active {
    color: #888;
    pointer-events: none;
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }