html, body {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  background: red;
}

.title {
  text-align: center;
  color: yellow;
  -webkit-text-fill-color: yellow;
}

.inner-container .nes-container {
  height: 100%;
}



.App-link {
  color: #61dafb;
}