html, body {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.outer {
  height: 90%;
}

.header {
  background: red;
  height: 10%
}

.title {
  font-family: 'Press Start 2P';
  text-align: center;
  color: yellow;
  -webkit-text-fill-color: yellow;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 650px) {
  html, body {
    height: 100%;
  }
  
  .App {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .outer {
    height: 90%;
  }
  
  .header {
    background: red;
    height: 15%
  }
  
  .title {
    text-align: center;
    color: yellow;
    -webkit-text-fill-color: yellow;
  }
  
  .App-link {
    color: #61dafb;
  }
}